body {
margin: 0;
background-color: rgb(205, 142, 49);
}

nav {
 
  height: 50%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: black;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
 
}
.logoP {
  margin-right: 20px;
  margin-left: 20px;
}
.logo {
  margin-right: 20px;
}
.footer {
  background-color:blue ;
}

